/* BREAK POINT */
@media only screen and (max-width: 1398px) {
  .navbar {
    margin-right: -1em;
  }
  .aboutme-content {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

/* ABLET */
@media only screen and (max-width: 1080px) {
  /* align navbar on top as row */
  .navbar {
    width: 100%;
    height: auto;
    margin-right: 0em;
    margin-top: 4em;
    top: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .navbar > ul > li {
    float: left;
  }
  .navlink {
    color: #fff !important;
  }
  /* intro */
  #intro {
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    margin-left: -12em;
    width: 24em;
  }
  #intro > h1 {
    color: #333;
  }
  .iconsIntro,
  .iconsIntro > i {
    color: #333;
  }

  /* about me page */
  .aboutme-content {
    width: 25%;
    min-height: 24em;
    margin-top: 2em;
  }
  .bio {
    margin-top: 6em;
  }
  /* projects page */
  .projects-container {
    width: 70%;
    margin-left: -35%;
  }
  .project-lang > span {
    font-size: 0.9em;
  }
}

/* PHONE */
@media only screen and (max-width: 780px) {
  /* all */
  .whitebar {
    transform: rotate(100deg);
  }
  .iconsTop,
  .iconsBottom {
    height: 3em;
  }
  .iconsTop {
    display: none;
  }
  .iconsTop > i {
    color: #fff3f3;
  }
  .iconsBottom {
    box-shadow: 0 0 0.2em #ff4343;
    padding-top: 0.3em;
  }
  .borderLeft {
    background: none;
  }
  .borderRight {
    background: none;
  }

  .navbar {
    margin-top: 0;
    padding-top: 1em;
    height: 3.5em;
    background: #ff4343;
    margin-right: -0.5em;
  }
  .navbar > ul > li {
    text-shadow: 0 0 0.1em rgb(117, 2, 2);
  }

  /* home */
  #intro > span {
    text-decoration: none;
    line-height: 90%;
    margin-top: -0.5em;
  }
  #intro {
    height: 230px;
    margin-top: -115px;
  }

  .iconsIntro {
    display: flex;
  }
  .iconsIntro,
  .iconsIntro > i {
    color: #ff4343;
  }

  /* aboutme */
  .aboutme-content {
    width: 32%;
    height: 29em;
    padding: 0.75em;
    margin: 0;
    margin-top: 2em;
  }
  .bio {
    margin-top: 5em;
    font-size: 0.9em;
    width: 90%;
    margin-left: -45%;
  }
  .bio > h1 {
    color: #333;
  }

  .aboutme-content > p {
    font-size: 0.9em;
  }

  /* projects */
  .projects-container {
    width: 80%;
    margin-left: -40%;
    height: 80%;
    top: 32%;
    box-shadow: none;
  }
  .projectsHeading {
    display: flex;
    justify-content: center;
    position: relative;
    color: #333;
    z-index: 7;
    width: 100%;
    margin-top: 1.25em;
    padding-bottom: 1em;
    font-weight: bold;
  }
  .project-desc {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -0.5em;
    height: 8.5em;
    font-size: 0.9em;
    overflow: auto;
  }
  .project-lang {
    display: block;
    padding: 0.5em 0.2em 0 0.2em;
  }
  .project-lang > span {
    margin: 0;
  }
  .project {
    width: 100%;
    height: 25%;
  }
  .project > img {
    width: 100%;
    margin-left: 0;
  }

  .project .redOverlayTop {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 25%;
    transition: bottom 0.5s ease;
    background: #fff3f3;
    text-align: center;
    font-size: 0.9em;
  }
  .project:hover .redOverlayTop {
    bottom: 50%;
  }
  .project:nth-child(1):hover .redOverlayTop {
    bottom: 75%;
  }

  .project .redOverlayBottom {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: -25%;
    transition: bottom 0.5s ease;
    background: #fff3f3;
    text-align: center;
    font-size: 0.9em;
  }
  .project:hover .redOverlayBottom {
    bottom: 0%;
  }
  .project:nth-child(3):hover .redOverlayBottom {
    bottom: 25%;
  }

  /* project language row */
  .project-lang {
    color: #333;
  }
  .project-lang > span {
    display: inline-block;
    position: relative;
    margin-top: 0.2em;
    padding: 0.2em;
    border-radius: 5px;
    border: 1px solid #ff4343;
  }

  /* project description row */
  .project-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    height: 5em;
    margin-top: -1.8em;
  }

  /* project link to github / live row */
  .redOverlayTop > .project-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    background: #ff4343;
    height: 3em;
    padding: 0.25em;
    margin-top: 2.3em;
    border-top: 0.5em solid #ce4b4b;
  }
  .redOverlayTop > .project-links > a {
    transition: 0.3s all ease-in-out;
  }
  .redOverlayTop > .project-links > a:hover {
    margin-top: -0.5em;
    transition: 0.3s all ease-in-out;
  }
  .redOverlayBottom > .project-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    background: #ff4343;
    height: 3em;
    padding: 0.25em;
    margin-top: -2.85em;
    border-top: 0.5em solid #ce4b4b;
  }

  .project-links > a > i {
    font-size: 1.4em;
    color: #fff3f3;
  }
  .project-links > a > span {
    float: right;
    padding-left: 0.5em;
    font-size: 0.9em;
  }
}
